<md-button ng-click="$ctrl.allThide = !$ctrl.allThide" > [ {{ $ctrl.allThide ? "-" : "+" }} ] All Transactions </md-button>
<table ng-show="$ctrl.allThide">
    <tr>
        <th> Name </th>
        <th> Ore </th>
        <th> Amount </th>
        <th> Transaction Value </th>
    </tr>
    <tr ng-repeat="x in allOretransactions">
        <td> {{x.name}}</td>
        <td> {{x.ore}}</td>
        <td> {{x.amount}} Unit(s)</td>
        <td> {{x.Tvalue}} Isk</td>
    </tr>
    <tr>
        <td> </td>
    </tr>
</table>

