<md-container>
<div layout="row" ng-controller="NewPlayerController">
    <md-input-container>
        <label>Character Name</label>
        <input ng-model="charname">
        <md-button ng-click="onInput(charname)"> OK </md-button>

    </md-input-container>
    <md-card>
        <md-button ng-click="$ctrl.testobino = !$ctrl.testobino" > [ {{ $ctrl.testobino ? "+" : "-" }} ] Namelist </md-button>
        <table ng-hide="$ctrl.testobino"> <tr ng-repeat="x in characters"><td>{{x.name}}</td></tr> </table>
    </md-card>
</div>
</md-container>
