<md-button ng-click="$ctrl.showOrHide()" > {{ $ctrl.stat ? "[ + ] Open all" : "[ - ] Close all" }}  </md-button>
<div ng-repeat="x in ausgabe">
    <md-button ng-click="$ctrl.showPerPerson(x.name)" layout="row" layout-align="start center"> [ {{ x.PPTransH ? "+" : "-" }} ] {{x.name}} </md-button>
    <table ng-hide="x.PPTransH">
        <tr>
            <th ng-bind="x.name"></th>
        </tr>
        <tr>
            <td>
                Total Fee:
            </td>
            <td>
                {{$ctrl.totalFee(x.name)}}
            </td>
        </tr>
        <tr ng-repeat="(key, value) in x.oresAndAmounts">
            <td>{{key}}</td>
            <td>{{value}}</td>
        </tr>
    </table>
</div>