<md-content style="background-color: grey; !important">
    <div layout="row">
        <md-card flex layout="column" layout-align="center center">
            <newplayer></newplayer>
        </md-card>
        <md-card flex layout="column" layout-align="center center">
            <addtransaction mitteilen="aktualisiere()"></addtransaction>
        </md-card>
        <md-card flex layout="column" layout-align="center center">
            <miningfee></miningfee>
        </md-card>
    </div>
    <md-card layout="column">
        <alltransactions></alltransactions>
    </md-card>
    <md-card>
        <table layout="column">
            <tr layout="row">
                <th flex> Ore </th>
                <th flex> Amount </th>
                <th flex> Total Price</th>
            </tr>
            <tr layout="row" ng-repeat="x in totals" class="testo">
                <td flex> {{x.ore}}</td>
                <td flex> {{x.amount}}</td>
                <td flex> {{x.transvalue}}</td>
            </tr>
        </table>
    </md-card>
    <md-card>
        <totproper reload="reloadBla"></totproper>
    </md-card>
</md-content>