<md-content style="background-color: grey; !important">
    <div layout="row">
        <md-card flex layout="column" layout-align="center center">
            <newplayer></newplayer>
        </md-card>
        <md-card flex layout="column" layout-align="center center">
            <addtransaction mitteilen="aktualisiere()"></addtransaction>
        </md-card>
        <md-card flex layout="column" layout-align="center center">
            <miningfee></miningfee>
        </md-card>
    </div>
    <md-card layout="column">
        <alltransactions></alltransactions>
    </md-card>
    <md-card>
        <table>
            <tr>
                <th> Ore </th>
                <th> Amount </th>
                <th> Total Price</th>
            </tr>
            <tr ng-repeat="x in totals">
                <td class="testo"> {{x.ore}}</td>
                <td class="testo"> {{x.amount}}</td>
                <td class="testo"> {{x.transvalue}}</td>
            </tr>
        </table>
    </md-card>
    <md-card>
        <totproper reload="reloadBla"></totproper>
    </md-card>
</md-content>